
@font-face {
     font-family: 'Roboto-Regular';
     src:  url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;/*indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur.*/
}
body{
    
    font-family: 'Roboto-Regular',Impact, sans-serif;
    color: #181818;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

h1
{
    text-align: center;
    font-size: 40px;
    
}



/****************Accueill********************/

header {
    position: fixed;
    z-index: 10;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
   
}

header ul {
    list-style-type: none;
    display: flex;
}

header a {
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(80,80,80);
}
ul a:hover {
	padding: 20px 10px;
	border-top: 3px solid rgb(92,173,211);
}
#slider, .slide {
    height: 650px;
    color: white;
    font-weight: bold;
    overflow: hidden;
    width: 100%;
    padding-top: 100px;
}
.contenuSlide {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 480px;
}
.contenuSlide hr /*trait bleu en bas guache*/
{
	background-color: blue;
	height: 2px;
	border: none;
	width: 120px;
    z-index: 9;
    bottom: -7px;
    margin-left: 0;
    position: absolute;
}
.piedSlide{
    background-color: gainsboro;
    height: 70px;
    opacity: 0.5;  
}
#slider1 .contenuSlide {
    background: url('images/slider/bg1.jpg') no-repeat center;
    background-size: cover;
}
#slider2 .contenuSlide {
    background: url('images/slider/bg2.jpg') no-repeat center;
    background-size: cover;
}
/* Effet transition au changement de slide */
#slider1 {
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
}
#slider2 {
    opacity: 0;
}

#slider2:target {
    opacity: 1;
}
/* Mise en place des liens de navigation du slider */
.slide nav a {
    z-index: 2;
    background: rgba(0,0,0,.4);
    color: rgb(255,255,255);
    text-decoration: none;
    height: 70px;
    width: 70px;
    border-radius: 35px;
    position: absolute;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.slide nav a:hover {
    background: rgba(0,0,0,.8);
}

.prec {
    left: -35px;
}

.suiv {
    right: -35px;
}

.prec i {
    padding-left: 20px;
}

.suiv i {
    padding-right: 20px;
}

/* Texte du slider */
.textSlide {
    margin: 10%;
    max-width: 700px;
}

.textSlide div  {
    font-size: 30px;
}
.textSlide div span {
    color: rgb(92,173,211);
}

.textSlide p {
     margin-bottom: 40px;
}
.textSlide a { 
    color: white;
    background-color: rgb(92,173,211);
    padding: 10px 15px;
    border-radius: 3px;
    border-bottom: 3px solid rgb(68,148,187);
    text-decoration: none;
}

/****************Nos services et Nos projets ********************/
.wrapper{
   
   
    padding-top: 100px;
   
}
.deco 
{
	display: flex;
	position: relative;
	justify-content: center;
	margin-bottom: 8px;
	padding-bottom: 2px;	
}
hr /*trait gris sous les titres*/
{
	background-color: #E6E1E1;
	height: 1px;
	border: none;
	width: 120px;
	margin-top: 1px;
}
i.deco-titre{
	display: flex;
	justify-content: center;
	position: absolute;
	font-size: 0.7em;
	border-radius:100%;
	color: #1AADD6;	
	top: -5px;
}


.bordure /*Border rond sous les titres*/
{
	background-color: white;
	border: 1px solid white;
	border-radius: 100%;
	padding: 4px;
	position: absolute;
	margin-top: -3px;
	font-size: 0.8em;
}


/****************Nos services  ********************/
.Nosservice{
     max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.Nosservice1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-right :50px;
        padding-left : 50px;
    
}

.Nosservice2{
    display:flex;
    align-items: center;
    align-content: space-around;
    position:relative;
    margin-top: 60px;
    
    
}
.rond { /*rond decoration du text */
	display: flex;
	justify-content: center;
	text-align: center;
	position: absolute;
	margin-left: 35px;
	margin-top: 34px;
	font-size: 0.7em;
	border-radius:100%;
	color: #1AADD6;
		
}
.deco-cercle /*Border decorations  
text */
{
	background-color: white;
	border: 1px solid white;
	border-radius: 100%;
	padding: 4px;
	position: absolute;
	margin-top: 34px;
	font-size: 0.8em;
}
.ordi{
    margin-left:0%;
    padding:0;
    text-align: center;
    flex:5;
    padding:0;
   
    
}


article ul
{
	list-style-type: none; 
    padding-right: 10px;
}
.icones
{
	position: relative;
	color: #1AADD6;

}
.deco-icon1
{
	padding: 10px 10px;/*pour créer l'arrondi*/
	top: 22px;
	font-size: 20px;
	border: 1px solid #E6E1E1;
	border-radius: 100%;/*pour avoir un cercle*/
	position: absolute;
	left: 2px;
	
}
.text
{
	margin-left: 50px;

}
.text h3
{
	
	font-weight: bold;
	margin-left: 50px;
}
.text p
{
	
	margin-left: 50px;
	margin-top: -15px;
	
}


/**********************Nosprojet******/
#Nosprojet {
    background-color: rgb(245,245,245);
    
}
.Nosprojet1{
        padding-right :50px;
        padding-left : 50px;
}
.Nosprojet2 
{
    display: flex;
	justify-content: center;
	margin-top: 60px;
	padding: 0;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    
}

.Nosprojet2 a
{
	border: solid #E6E1E1;
	font-size: 18px; 
	text-align: center;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-color: #E6E1E1;
	color: black;
	padding: 5px 10px 5px 10px;
    
}
.radius1{
    border-radius: 5px 0 0 5px;
}
.radius2{
    border-radius: 0 5px 5px 0;
}

.Nosprojet2 a:hover
{
	text-decoration: none;
	display: inline-block;
	border: 5px solid #1AADD6;
	margin: 0;
	background-color: #1AADD6;
	border-collapse: collapse;
	border-bottom: 3px solid #2D9FC4;
	color: white;
	padding: 5px 10px 5px 10px;
    border-radius: 5px 0 0 5px;
	
}

.bouton{
	position: relative;
    display:flex;
	flex-direction: column;
}
.bouton a  {
	
	color: black;
	background-color: #E6E1E1;
	text-decoration: none;
}
.icon
{
	display: none;
	position: absolute;
    color: #E6E1E1;
	
}
.bouton:hover .icon
{
	
	display: flex;
	color: #1AADD6;
	margin-left: 30px;
	margin-top: 2%;
}

.AlbumImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.AlbumImages figure img {
    width: 100%;
}

.AlbumImages figure { 
    position: relative; /* Positionnement en relaive important pour figcaption(elt fils) */
    overflow: hidden; 
    height: 175px;
    width: 260px;
    margin: 15px;
    background-color: rgba(0,0,0,0);
}

/* Légende au survol */ 
.AlbumImages figcaption { 
    position: absolute; 
    background: rgba(0,0,0,0.4); 
    color: white; 
    width: 100%;
    padding: 0 10px;;
    opacity: 0;
    bottom: -30%; 
    left: 0;
    height: 50%;
}

figure:hover figcaption {
    opacity: 1;
    bottom: 0;
}
/*  logo oeil*/
.AlbumImages figcaption div {
   display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: rgb(69,144,177);
    border-radius: 50%;
    border: 2px solid white;
    
    left: 70%;
    top: -20px;
}

/*********************contact************************************/

#contact {
    position: relative;
    padding-top: 100px;
}

.Maps, #conteneur {
    width: 100%;
    position: absolute;
    height: 600px;
    border: 0;
}

#conteneur {
    background-color: rgba(92,173,211, .4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

form {
    background-color: rgba(255,255,255, .8);
    width: 300px;
    height: 70%;
    margin: 40px 150px;
    padding: 20px; padding-right: 30px;
    border-radius: 3px;
}

form h2 {
    padding: 0px;
    margin: 0px;
    font-size: 180%;
}

input {
    width: 100%;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding-left: 10px; 
}

textarea {
    width: 100%;
    height: 100px;
    border-radius: 3px;
    padding-left: 10px;
}

#conteneur form .send {
    color: white;
    background-color: rgb(92,173,211); 
    border-bottom: 3px solid rgb(70,140,173);
    border-radius: 3px;
    padding: 5px 15px;
    text-decoration: none;
}
/**************Media querie pour ecran a moins de :1024px**********/
@media screen and (max-width:1024px){
    
    
    .Nosservice2{
        flex-direction: column;
    }
   
    
}
/**************Media querie pour ecran à moins de :700px**********/
@media screen and (max-width:700px){
  
    header{
        opacity: 0.9;
    } 
    header  nav ul
{
   flex-direction: column;
   
}
    header  nav ul li
{ border: solid rgba(0,0,0,.4);;
    color: white;
    background-color: rgba(0,0,0,.4);;
    border-radius: 5px;
    color: white;
    
    }
ul a:hover {
    border-top: none;
}
    ul li:hover {
	color: black;
    background-color:#E6E1E1; 
    border-top: none;
        border: solid #E6E1E1;
}
    
    
    
   .Nosprojet2 
    {
        flex-direction: column;
        margin-top: 0;
    }



.Nosprojet2 a
{
	border: solid #E6E1E1;
	font-size: 18px; 
	text-align: center;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-color: #E6E1E1;
	color: black;
	
    
}


.Nosprojet2 a:hover
{
	text-decoration: none;
	display: inline-block;
	border: 5px solid #1AADD6;
	margin: 0;
	background-color: #1AADD6;
	border-collapse: collapse;
	border-bottom: 3px solid #2D9FC4;
	color: white;
	padding: 5px 10px 5px 10px;
    border-radius: 5px;
	
}

.bouton{
	position: relative;
    display:flex;
	flex-direction: column;
    margin: auto;
    width: 70%;
    background-color: #E6E1E1;
    border-radius: 5px;
}
.bouton a  {
	
	color: black;
	background-color: #E6E1E1;
	text-decoration: none;
}
.icon
{
	display: none;
	
}
.bouton:hover .icon
{
	
	display: none;
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
 .contenuSlide {
        height: 450px; /* Slider plus petit */
    }    
    #slider, .slide {
        height: 550px; /* Slider plus petit */
    }
    .textSlide {
        max-width: 450px;
    }
    
    form {
        margin: 0;
        width: 80%; /*  formulaire à 80% de l'ecran en largeur  */
    }  
    #conteneur {
        justify-content: center;
    }   
/*.contact1
{
    display: inline-block;
    background-color: rgba(242,242,242,0.8);
    position:absolute;
    width: 80%;
    height: 70%;
    z-index: 4;
    border-radius: 3px;
    padding: 15px;
}
   */ 
     
}

